<html>
<head>

    {% stylesheets filter='cssrewrite' debug=true
    'bundles/strixjunctionapplication/datepicker/css/*'
    'bundles/strixjunctionapplication/css/*'
    'bundles/pinanoselect2/css/select2.css'
    'bundles/pinanoselect2/css/select2-bootstrap.css'
    '@bootstrap_less'
     %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {#<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>#}
    {% javascripts
    'http://code.jquery.com/jquery-1.10.1.min.js'
    '@bootstrap_js'
    '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
    '@StrixJunctionApplicationBundle/Resources/public/datepicker/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $(".mydatetimepicker").datepicker({viewMode: 2, format: 'yyyy-mm-dd'});
            $("select").select2();
        });
    </script>

</head>
<body style="min-width: 400px">


<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('junction_index') }}">BALTIC JEWISH NETWORK</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
            <li {% if app.request.attributes.get('_route') =='junction_about' %}class="active"{% endif %}><a href="{{ path('junction_about') }}">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">We on social networks <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    {#<li class="divider"></li>#}
                    {#<li><a href="#">Separated link</a></li>#}
                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ app.request.attributes.get('_locale')|trans  }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li {% if app.request.attributes.get('_locale') == 'ru' %} class="active" {% endif %}><a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'ru'}) }}">Русский</a></li>
                    <li {% if app.request.attributes.get('_locale') == 'en' %} class="active" {% endif %}><a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">English</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>



<div class="container">
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{% trans %}REGISTRATION FOR BALTIC JEWISH NETWORK 2014{% endtrans %}</h1>

        </div>
    </div>
<hr>
<div class="row">
    <div class="col-sm-6">

            {% form_theme form 'StrixJunctionApplicationBundle:Form:bootstrap.html.twig' %}
            {{ form(form) }}
    </div>
    <div class="col-sm-6">
        <div class="alert alert-info">
            {% trans %}form_comment_text{% endtrans %}
        </div>

    </div>
</div>

{% endblock content %}
</div>

<footer>
    <nav class="bs-navbar-bottom-example navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('junction_index') }}">&copy; Baltic Jewish Network</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">Sponsor link 1</a></li>
                    <li><a href="#services">Sponsor link 2</a></li>
                    <li><a href="#contact">And one more sponsor</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</footer>
</body>

</html>